services:
  api:
    image: riverboat:dev
    depends_on:
      - postgres
    command:
      - serve
      - --debug
      - --pretty
    volumes:
      - ${PWD}/config/.config.yaml:/config/.config.yaml
    restart: unless-stopped
    networks:
      - default
