RIVERBOAT_REFRESHINTERVAL="10m"
RIVERBOAT_RIVER_DATABASEHOST="postgres://postgres:password@0.0.0.0:5432/jobs?sslmode=disable"
RIVERBOAT_RIVER_QUEUES=""
RIVERBOAT_RIVER_WORKERS_OPENLANECONFIG_OPENLANEAPIHOST=""
RIVERBOAT_RIVER_WORKERS_OPENLANECONFIG_OPENLANEAPITOKEN=""
RIVERBOAT_RIVER_WORKERS_EMAILWORKER_CONFIG_ENABLED="false"
RIVERBOAT_RIVER_WORKERS_EMAILWORKER_CONFIG_DEVMODE="true"
RIVERBOAT_RIVER_WORKERS_EMAILWORKER_CONFIG_TESTDIR="fixtures/email"
RIVERBOAT_RIVER_WORKERS_EMAILWORKER_CONFIG_TOKEN=""
RIVERBOAT_RIVER_WORKERS_EMAILWORKER_CONFIG_FROMEMAIL="no-reply@example.com"
RIVERBOAT_RIVER_WORKERS_DATABASEWORKER_CONFIG_ENABLED="true"
RIVERBOAT_RIVER_WORKERS_DATABASEWORKER_CONFIG_BASEURL="http://localhost:1337"
RIVERBOAT_RIVER_WORKERS_DATABASEWORKER_CONFIG_ENDPOINT="query"
RIVERBOAT_RIVER_WORKERS_DATABASEWORKER_CONFIG_DEBUG="false"
RIVERBOAT_RIVER_WORKERS_EXPORTCONTENTWORKER_CONFIG_OPENLANEAPIHOST=""
RIVERBOAT_RIVER_WORKERS_EXPORTCONTENTWORKER_CONFIG_OPENLANEAPITOKEN=""
RIVERBOAT_RIVER_WORKERS_EXPORTCONTENTWORKER_CONFIG_ENABLED=""
RIVERBOAT_RIVER_WORKERS_DELETEEXPORTCONTENTWORKER_CONFIG_OPENLANEAPIHOST=""
RIVERBOAT_RIVER_WORKERS_DELETEEXPORTCONTENTWORKER_CONFIG_OPENLANEAPITOKEN=""
RIVERBOAT_RIVER_WORKERS_DELETEEXPORTCONTENTWORKER_CONFIG_ENABLED=""
RIVERBOAT_RIVER_WORKERS_DELETEEXPORTCONTENTWORKER_CONFIG_INTERVAL=""
RIVERBOAT_RIVER_WORKERS_DELETEEXPORTCONTENTWORKER_CONFIG_CUTOFFDURATION=""
RIVERBOAT_RIVER_WORKERS_SLACKWORKER_CONFIG_ENABLED="false"
RIVERBOAT_RIVER_WORKERS_SLACKWORKER_CONFIG_DEVMODE="true"
RIVERBOAT_RIVER_WORKERS_SLACKWORKER_CONFIG_TOKEN=""
RIVERBOAT_RIVER_DEFAULTMAXRETRIES="10"
RIVERBOAT_RIVER_METRICS_ENABLEMETRICS="false"
RIVERBOAT_RIVER_METRICS_METRICSDURATIONUNIT="ms"
RIVERBOAT_RIVER_METRICS_ENABLESEMANTICMETRICS="true"
