RIVERBOAT_REFRESHINTERVAL="10m"
RIVERBOAT_RIVER_DATABASEHOST="postgres://postgres:password@0.0.0.0:5432/jobs?sslmode=disable"
RIVERBOAT_RIVER_QUEUES=""
RIVERBOAT_RIVER_WORKERS_OPENLANECONFIG_OPENLANEAPIHOST=""
RIVERBOAT_RIVER_WORKERS_OPENLANECONFIG_OPENLANEAPITOKEN=""
RIVERBOAT_RIVER_WORKERS_EMAILCONFIG_COMPANYNAME=""
RIVERBOAT_RIVER_WORKERS_EMAILCONFIG_COMPANYADDRESS=""
RIVERBOAT_RIVER_WORKERS_EMAILCONFIG_CORPORATION=""
RIVERBOAT_RIVER_WORKERS_EMAILCONFIG_YEAR=""
RIVERBOAT_RIVER_WORKERS_EMAILCONFIG_FROMEMAIL=""
RIVERBOAT_RIVER_WORKERS_EMAILCONFIG_SUPPORTEMAIL=""
RIVERBOAT_RIVER_WORKERS_EMAILCONFIG_QUESTIONNAIREEMAIL=""
RIVERBOAT_RIVER_WORKERS_EMAILCONFIG_LOGOURL=""
RIVERBOAT_RIVER_WORKERS_EMAILCONFIG_URLS_ROOT=""
RIVERBOAT_RIVER_WORKERS_EMAILCONFIG_URLS_PRODUCT=""
RIVERBOAT_RIVER_WORKERS_EMAILCONFIG_URLS_DOCS=""
RIVERBOAT_RIVER_WORKERS_EMAILCONFIG_URLS_VERIFY=""
RIVERBOAT_RIVER_WORKERS_EMAILCONFIG_URLS_INVITE=""
RIVERBOAT_RIVER_WORKERS_EMAILCONFIG_URLS_RESET=""
RIVERBOAT_RIVER_WORKERS_EMAILCONFIG_URLS_VERIFYSUBSCRIBER=""
RIVERBOAT_RIVER_WORKERS_EMAILCONFIG_URLS_VERIFYBILLING=""
RIVERBOAT_RIVER_WORKERS_EMAILCONFIG_URLS_BILLING=""
RIVERBOAT_RIVER_WORKERS_EMAILCONFIG_URLS_QUESTIONNAIRE=""
RIVERBOAT_RIVER_WORKERS_EMAILCONFIG_TEMPLATESPATH=""
RIVERBOAT_RIVER_WORKERS_EMAILWORKER_CONFIG_ENABLED="false"
RIVERBOAT_RIVER_WORKERS_EMAILWORKER_CONFIG_DEVMODE="true"
RIVERBOAT_RIVER_WORKERS_EMAILWORKER_CONFIG_TESTDIR="fixtures/email"
RIVERBOAT_RIVER_WORKERS_EMAILWORKER_CONFIG_TOKEN=""
RIVERBOAT_RIVER_WORKERS_EMAILWORKER_CONFIG_FROMEMAIL="no-reply@example.com"
RIVERBOAT_RIVER_WORKERS_EXPORTCONTENTWORKER_CONFIG_OPENLANEAPIHOST=""
RIVERBOAT_RIVER_WORKERS_EXPORTCONTENTWORKER_CONFIG_OPENLANEAPITOKEN=""
RIVERBOAT_RIVER_WORKERS_EXPORTCONTENTWORKER_CONFIG_ENABLED=""
RIVERBOAT_RIVER_WORKERS_EXPORTCONTENTWORKER_CONFIG_MAXZIPSIZE="500000000"
RIVERBOAT_RIVER_WORKERS_EXPORTCONTENTWORKER_CONFIG_CLOUDFLAREACCOUNTID=""
RIVERBOAT_RIVER_WORKERS_EXPORTCONTENTWORKER_CONFIG_CLOUDFLAREAPIKEY=""
RIVERBOAT_RIVER_WORKERS_EXPORTCONTENTWORKER_CONFIG_MAXSNOOZES=""
RIVERBOAT_RIVER_WORKERS_EXPORTCONTENTWORKER_CONFIG_SNOOZEDURATION=""
RIVERBOAT_RIVER_WORKERS_DELETEEXPORTCONTENTWORKER_CONFIG_OPENLANEAPIHOST=""
RIVERBOAT_RIVER_WORKERS_DELETEEXPORTCONTENTWORKER_CONFIG_OPENLANEAPITOKEN=""
RIVERBOAT_RIVER_WORKERS_DELETEEXPORTCONTENTWORKER_CONFIG_ENABLED=""
RIVERBOAT_RIVER_WORKERS_DELETEEXPORTCONTENTWORKER_CONFIG_INTERVAL=""
RIVERBOAT_RIVER_WORKERS_DELETEEXPORTCONTENTWORKER_CONFIG_CUTOFFDURATION=""
RIVERBOAT_RIVER_WORKERS_SLACKWORKER_CONFIG_ENABLED="false"
RIVERBOAT_RIVER_WORKERS_SLACKWORKER_CONFIG_DEVMODE="true"
RIVERBOAT_RIVER_WORKERS_SLACKWORKER_CONFIG_TOKEN=""
RIVERBOAT_RIVER_TRUSTCENTERWORKERS_OPENLANECONFIG_OPENLANEAPIHOST=""
RIVERBOAT_RIVER_TRUSTCENTERWORKERS_OPENLANECONFIG_OPENLANEAPITOKEN=""
RIVERBOAT_RIVER_DEFAULTMAXRETRIES="10"
RIVERBOAT_RIVER_METRICS_ENABLEMETRICS="false"
RIVERBOAT_RIVER_METRICS_METRICSDURATIONUNIT="ms"
RIVERBOAT_RIVER_METRICS_ENABLESEMANTICMETRICS="true"
