refreshInterval: 600000000000
river:
    databasehost: postgres://postgres:password@0.0.0.0:5432/jobs?sslmode=disable
    defaultmaxretries: 10
    enabletrustcenterjobs: false
    metrics:
        enablemetrics: false
        enablesemanticmetrics: true
        metricsdurationunit: ms
    queues: null
    trustcenterworkers: {}
    workers:
        databaseworker:
            config:
                baseUrl: http://localhost:1337
                debug: false
                enabled: true
                endpoint: query
        deleteexportcontentworker:
            config:
                cutoffduration: 0
                enabled: false
                interval: 0
                openlaneapihost: ""
                openlaneapitoken: ""
        emailworker:
            config:
                devmode: true
                enabled: false
                fromemail: no-reply@example.com
                testdir: fixtures/email
                token: ""
        exportcontentworker:
            config:
                enabled: false
                openlaneapihost: ""
                openlaneapitoken: ""
        openlaneconfig:
            openlaneapihost: ""
            openlaneapitoken: ""
        slackworker:
            config:
                devmode: true
                enabled: false
                token: ""
