refreshInterval: 600000000000
river:
    databaseHost: postgres://postgres:password@0.0.0.0:5432/jobs?sslmode=disable
    maxRetries: 10
    queues: null
    workers:
        createCustomDomainWorker:
            config:
                cloudflareApiKey: ""
                databaseHost: ""
                enabled: false
                openlaneAPIHost: ""
                openlaneAPIToken: ""
                validateInterval: 0
        databaseWorker:
            config:
                baseUrl: http://localhost:1337
                debug: false
                enabled: true
                endpoint: query
        deleteCustomDomainWorker:
            config:
                cloudflareApiKey: ""
                databaseHost: ""
                enabled: false
                openlaneAPIHost: ""
                openlaneAPIToken: ""
                validateInterval: 0
        deleteExportContentWorker:
            config:
                cutoffDuration: 0
                enabled: false
                interval: 0
                openlaneAPIHost: ""
                openlaneAPIToken: ""
        emailWorker:
            config:
                devMode: true
                enabled: false
                fromEmail: no-reply@example.com
                testDir: fixtures/email
                token: ""
        exportContentWorker:
            config:
                enabled: false
                openlaneAPIHost: ""
                openlaneAPIToken: ""
        validateCustomDomainWorker:
            config:
                cloudflareApiKey: ""
                databaseHost: ""
                enabled: false
                openlaneAPIHost: ""
                openlaneAPIToken: ""
                validateInterval: 0
