refreshInterval: 600000000000
river:
    databaseHost: postgres://postgres:password@0.0.0.0:5432/jobs?sslmode=disable
    defaultMaxRetries: 10
    metrics:
        enableMetrics: false
        enableSemanticMetrics: true
        metricsDurationUnit: ms
    queues: null
    workers:
        cacheTrustCenterDataWorker:
            config:
                cacheInterval: 0
                enabled: false
                objectStorage:
                    devMode: false
                    enabled: true
                    keys:
                        - uploadFile
                    maxMemoryMB: 0
                    maxSizeMB: 0
                    providers:
                        cloudflareR2:
                            baseURL: http://localhost:17608/v1/files
                            bucket: ""
                            credentials:
                                accessKeyID: ""
                                accountID: ""
                                apiToken: ""
                                projectID: ""
                                secretAccessKey: ""
                            enabled: false
                            endpoint: ""
                            ensureAvailable: false
                            proxyPresignEnabled: false
                            region: ""
                        database:
                            baseURL: http://localhost:17608/v1/files
                            bucket: ""
                            credentials:
                                accessKeyID: ""
                                accountID: ""
                                apiToken: ""
                                projectID: ""
                                secretAccessKey: ""
                            enabled: false
                            endpoint: ""
                            ensureAvailable: false
                            proxyPresignEnabled: false
                            region: ""
                        disk:
                            baseURL: http://localhost:17608/v1/files
                            bucket: ""
                            credentials:
                                accessKeyID: ""
                                accountID: ""
                                apiToken: ""
                                projectID: ""
                                secretAccessKey: ""
                            enabled: false
                            endpoint: ""
                            ensureAvailable: false
                            proxyPresignEnabled: false
                            region: ""
                        gcs:
                            baseURL: http://localhost:17608/v1/files
                            bucket: ""
                            credentials:
                                accessKeyID: ""
                                accountID: ""
                                apiToken: ""
                                projectID: ""
                                secretAccessKey: ""
                            enabled: false
                            endpoint: ""
                            ensureAvailable: false
                            proxyPresignEnabled: false
                            region: ""
                        s3:
                            baseURL: http://localhost:17608/v1/files
                            bucket: ""
                            credentials:
                                accessKeyID: ""
                                accountID: ""
                                apiToken: ""
                                projectID: ""
                                secretAccessKey: ""
                            enabled: false
                            endpoint: ""
                            ensureAvailable: false
                            proxyPresignEnabled: false
                            region: ""
                openlaneAPIHost: ""
                openlaneAPIToken: ""
        createCustomDomainWorker:
            config:
                cloudflareApiKey: ""
                enabled: false
                openlaneAPIHost: ""
                openlaneAPIToken: ""
                validateInterval: 0
        databaseWorker:
            config:
                baseUrl: http://localhost:1337
                debug: false
                enabled: true
                endpoint: query
        deleteCustomDomainWorker:
            config:
                cloudflareApiKey: ""
                enabled: false
                openlaneAPIHost: ""
                openlaneAPIToken: ""
                validateInterval: 0
        deleteExportContentWorker:
            config:
                cutoffDuration: 0
                enabled: false
                interval: 0
                openlaneAPIHost: ""
                openlaneAPIToken: ""
        emailWorker:
            config:
                devMode: true
                enabled: false
                fromEmail: no-reply@example.com
                testDir: fixtures/email
                token: ""
        exportContentWorker:
            config:
                enabled: false
                openlaneAPIHost: ""
                openlaneAPIToken: ""
        slackWorker:
            config:
                devMode: true
                enabled: false
                token: ""
        validateCustomDomainWorker:
            config:
                cloudflareApiKey: ""
                enabled: false
                openlaneAPIHost: ""
                openlaneAPIToken: ""
                validateInterval: 0
        watermarkDocWorker:
            config:
                enabled: false
                openlaneAPIHost: ""
                openlaneAPIToken: ""
