refreshInterval: 600000000000
river:
    databaseHost: postgres://postgres:password@0.0.0.0:5432/jobs?sslmode=disable
    queues: null
    workers:
        createCustomDomainWorker:
            Config:
                cloudflareApiKey: ""
                databaseHost: ""
                openlaneAPIHost: ""
                openlaneAPIToken: ""
        databaseWorker:
            config:
                baseUrl: http://localhost:1337
                debug: false
                enabled: true
                endpoint: query
        deleteCustomDomainWorker:
            Config:
                cloudflareApiKey: ""
                databaseHost: ""
                openlaneAPIHost: ""
                openlaneAPIToken: ""
        emailWorker:
            config:
                devMode: true
                fromEmail: no-reply@example.com
                testDir: fixtures/email
                token: ""
        scheduledJobWorker:
            config:
                databaseHost: postgres://postgres:password@0.0.0.0:5432/jobs?sslmode=disable
        validateCustomDomainWorker:
            Config:
                cloudflareApiKey: ""
                databaseHost: ""
                openlaneAPIHost: ""
                openlaneAPIToken: ""
